name: Release
on:
  push:
    branches:
      - master
jobs:
  build:
    name: Release
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup qmk
        shell: msys2bash
        run: |
          pacman -Qq
      # - name: Compile
      # - name: Release
